[submodule "pairing/lib/pubsubclient"]
	path = pairing/lib/pubsubclient
	url = git@github.com:knolleary/pubsubclient.git
[submodule "prototype/lib/pubsubclient"]
	path = prototype/lib/pubsubclient
	url = git@github.com:knolleary/pubsubclient.git
