{% extends 'base.html' %}

{% block title %}
Edit Node #{{ node.id }}
{% endblock %}

{% block content %}
<h1>Edit Node #{{ node.id }}</h1>

<h2>IP</h2>
<p>{{ node.ip }}</p>
<form action="/nodes/{{ node.id }}" method="POST">
  <h2>Volume</h2>
  <input id="volume" name="volume" type="text" placeholder="{{ node.volume }}">
  <h2>Bass</h2>
  <input id="bass" name="bass" type="range" min="-12" max="12" step="0.1" value="{{ node.bass }}">
  <h2>Mid</h2>
  <input id="mid" name="mid" type="range" min="-12" max="12" step="0.1" value="{{ node.mid }}">
  <h2>Trebble</h2>
  <input id="trebble" name="trebble" type="range" min="-12" max="12" step="0.1" value="{{ node.trebble }}">
  <br/>
  <button type="submit">Save</button>
</form>

<a href="/nodes">Back</a>
<a href="/nodes/{{ node.id }}">Show</a>

{% endblock %}
