{% extends "base.html" %}

{% block title %}
Nodes
{% endblock %}

{% block content %}

<div class="nodes">
  {% for node in nodes %}
  {% if edited_node and edited_node.id == node.id %}
  <form action="/nodes/{{ node.id }}/" method="POST" class="node node-edited {% if node.ip == "0" %} node-unavailable {% endif %}">
    <!-- <div class="node-name"> -->
      <!--   <input class="node-name" value="{{node.name}}"> -->
      <!-- </div> -->
    <p class="node-name">{{ node.name }}</p>
    {% if edited_node.ip != "0" %}
    <p>Available at {{ edited_node.ip }}</p>
    {% else %}
    <p>Unavailable</p>
    {% endif %}
    <div class="node-attr">
      <h2>Volume:</h2>
      <input id="volume" name="volume" type="text" placeholder="{{ edited_node.volume }}" value="{{ unsaved.get('volume') is not none and unsaved['volume'] or '' }}">
      %
      {% if errors.get("volume") is not none %}
      <p>({{ errors["volume"] }})</p>
      {% endif %}
    </div>
    <div class="node-attr">
      <h2>Bass:</h2>
      <input id="bass" name="bass" type="text" placeholder="{{ edited_node.bass }}" value="{{ unsaved.get('bass') is not none and unsaved['bass'] or '' }}">
      dB
      {% if errors.get("bass") is not none %}
      <p>({{ errors["bass"] }})</p>
      {% endif %}
    </div>
    <div class="node-attr">
      <h2>Mid:</h2>
      <input id="mid" name="mid" type="text" placeholder="{{ edited_node.mid }}" value="{{ unsaved.get('mid') is not none and unsaved['mid'] or '' }}">
      dB
      {% if errors.get("mid") is not none %}
      <p>({{ errors["mid"] }})</p>
      {% endif %}
    </div>
    <div class="node-attr">
      <h2>Trebble:</h2>
      <input id="trebble" name="trebble" type="text" placeholder="{{ edited_node.trebble }}" value="{{ unsaved.get('trebble') is not none and unsaved['trebble'] or '' }}">
      dB
      {% if errors.get("trebble") is not none %}
      <p>({{ errors["trebble"] }})</p>
      {% endif %}
    </div>
    <div class="node-attr node-attr-id">
      <h2>ID:</h2>
      <p>{{ edited_node.hex_id }}</p>
    </div>
    <div class="node-buttons">
      <a href="/nodes/" class="btn">Cancel</a>
      <button type="submit">Save</button>
    </div>
  </form>
  {% else %}
  <div class="node {% if node.ip == "0" %} node-unavailable {% endif %}">
    <p class="node-name">{{ node.name }}</p>
    {% if node.ip != "0" %}
    <p>Available at {{ node.ip }}</p>
    {% else %}
    <p>Unavailable</p>
    {% endif %}
    <div class="node-attr">
      <h2>Volume:</h2>
      <p>{{ node.volume }}%</p>
    </div>
    <div class="node-attr">
      <h2>Bass:</h2>
      <p>{{ "{0:+}".format(node.bass) }}dB</p>
    </div>
    <div class="node-attr">
      <h2>Mid:</h2>
      <p>{{ "{0:+}".format(node.mid) }}dB</p>
    </div>
    <div class="node-attr">
      <h2>Trebble:</h2>
      <p>{{ "{0:+}".format(node.trebble) }}dB</p>
    </div>
    <div class="node-attr node-attr-id">
      <h2>ID:</h2>
      <p>{{ node.hex_id }}</p>
    </div>
    <div class="node-buttons">
      <a href="/nodes/{{node.id}}/edit/" class="btn">Edit</a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}
