[Unit]
Description=BASS audio streamer
Wants=mosquitto.service mopidy.service
After=mosquitto.service mopidy.service

[Service]
ExecStart=/usr/bin/python3 /opt/bass/streamer/main.py
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
