<!doctype html>
<html lang="en">

  <head>
    <title>{% block title %}{% endblock %} - BASS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/styles.css">
  </head>

  <body>
    <div class="header">BASS</div>
    <nav class="navigation">
      <a class="{% if request.path.startswith('/nodes/') %} active {% endif %}" href="/nodes/">Nodes</a>
      <a class="{% if request.path.startswith('/bt/') %} active {% endif %}" href="/bt/">Add Nodes</a>
      <a class="{% if request.path.startswith('/player/') %} active {% endif %}" href="/player/">Player</a>
    </nav>

    {% block content %}{% endblock %}
  </body>
</html>
